{% extends 'base.html' %} {% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
          <div class="card-body">
            <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
              <p class=" text-muted"><a href="{% url 'author' post.author.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a> | {{ post.updatedate }}</p>
            <p class="card-text ">{{ post.body | safe }}</p>
            <hr>
            <a href="{% url 'home' %}" class="btn btn-primary">Go Home &rarr;</a>
            {% if user.id == post.author.id %}
                {% if post.status == 0 %}
                    <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary">Edit Post &rarr;</a>
                {% endif %}
            {% endif %}
          </div>
        </div>

        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            <!-- comments -->
            {% with comments.count as total_comments %}
            <h2>{{ total_comments }} comments</h2>

            <p>
              {% endwith %} {% for comment in comments %}
            </p>

            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.author.first_name }} {{ comment.author.last_name }} |
                <span class=" text-muted font-weight-normal">
                  {{ comment.createdate }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            <hr>
            </div>

            {% endfor %}
          </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
              Your Comment Was Posted Successfully!
            </div>
            {% else %}
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form | crispy }}
              {% csrf_token %}
              <hr>
              <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("auth-userid").value=name;
    </script>

{% else %}
<br/>
<h2 style="text-align:center">You must be logged in to view this page..</h2>

{% endif %}

{% endblock content %}