{% extends 'base.html' %} {% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
          <div class="card-body">
            <h1>{% block title %} {{ postm.titlem }} {% endblock title %}</h1>
              <p class=" text-muted"><a href="{% url 'authorm' postm.authorm.id %}">{{ postm.authorm.first_name }} {{ postm.authorm.last_name }}</a> | {{ postm.updatedatem }}</p>
            <hr>
              <p class="card-text ">{{ postm.bodym | safe }}</p><br/>
            <hr>
            <a href="{% url 'maintenance' %}" class="btn btn-primary">Back to Maintenance &rarr;</a>
            {% if user.id == postm.authorm.id or user.id == 1 or user.id == 3 or user.id == 5 %}
                {% if postm.statusm == 0 or postm.statusm == 1 %}
                    <a href="{% url 'edit_postm' postm.pk %}" class="btn btn-primary">Edit Post &rarr;</a>
                {% endif %}
            <a href="{% url 'home' %}" class="btn btn-primary">Go Home &rarr;</a>
            {% endif %}
          </div>
        </div>

            {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            <!-- comments -->
            {% with mcomments.count as total_mcomments %}
            <h2>{{ total_mcomments }} comments</h2>

            <p>
              {% endwith %} {% for mcomment in mcomments %}
            </p>

            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ mcomment.mauthor.first_name }} {{ mcomment.mauthor.last_name }} |
                <span class=" text-muted font-weight-normal">
                  {{ mcomment.mcreatedate }}
                </span>
              </p>
              {{ mcomment.mbody | linebreaks }}
            <hr>
            </div>

            {% endfor %}
          </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            {% if new_mcomment %}
            <div class="alert alert-success" role="alert">
              Your Comment Was Posted Successfully!
            </div>
            {% else %}
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
              {{ mcomment_form | crispy }}
              {% csrf_token %}
              <hr>
              <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("auth-userid").value=name;
    </script>

{% else %}
<br/>
<h2 style="text-align:center">You must be logged in to view this page..</h2>

{% endif %}

{% endblock content %}