{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Welcome to ExpressHub!</h5>
            <div class="card-body">
            <h5>Help keep our team updated and well informed.  New features will be coming soon!</h5><br/>
                {% for upcoming in Upcoming %}
                    <p class="card-text"><h6> {{ upcoming.name }} </h6>
                    <small><p class="card-text"> {{ upcoming.start_date }} | </p></small><br/>
                    <a href="#" class="btn btn-danger">Know more!</a><hr>
                {% endfor %}
            <a href="{% url 'add_post' %}" class="btn btn-danger">Add New Note</a><hr>
                <h4><span class="badge badge-secondary">Updates from the Admin <span class="badge badge-light">2</span></span> </h4>
            <h6>June 10, 2020:<br/>
                &rarr; Permissions For Maintenance Edit<br/>
                &rarr; Added Status To Maintenance View</h6>
            <hr>
                <h4><span class="badge badge-secondary">Updates from the Admin <span class="badge badge-light">5</span></span> </h4>
            <h6>June 3, 2020:<br/>
                &rarr; Lost & Found Function Added<br/>
                &rarr; Updated User Access Profiles<br/>
                &rarr; Fixed Maintenance Note Editing<br/>
                &rarr; New Dynamic Text Editor For Posts<br/>
                &rarr; Added Back Buttons On Edit Pages</h6>
            </div><hr>

        </div>
</div>

{% endblock sidebar %}