{% extends "base.html" %}

{% block content %}


<header class="masthead bg-secondary">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-xs-8 col-xs-10 mx-auto bg-secondary">
        <div class="site-heading">
          <h2 class=" site-heading my-4 mt-3 text-white text-align:center ">Upcoming Groups & Events</h2>
        </div>
      </div>
    </div>
  </div>

</header>

{% if upcoming_posts %}
{% if user.is_authenticated %}

    <div class="container">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
          {% for Upcoming in Upcoming %}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ upcoming.name }}</h2>
                <p class="card-text text-muted h6"> From: {{ upcoming.start_date}} To: {{ upcoming.end_date }} | Number Rooms: {{ num_rooms }}</p>

              <p class="card-text">{{upcoming.details | slice:":50" }}</p>
              <a href="{% url 'upcoming' upcoming.pk  %}" class="btn btn-primary">Read More &rarr;</a>
              {% if user.id == post.author.id %}
            {% endif %}
            </div>

          </div>
          {% endfor %}

        </div>
        {% block sidebar %}
        {% include 'sidebar.html' %}
        {% endblock sidebar %}
      </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

      {% endif %}
    </ul>
    {% endif %}

{% else %}
<br/>
<h2 style="text-align:center">You must be logged in to view this page..</h2>

{% endif %}
{% endif %}
{%endblock%}