{% extends 'base.html' %}
{% block content %}

<header class="masthead bg-secondary">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto bg-secondary">
        <div class="site-heading">
          <h2 class=" site-heading my-4 mt-3 text-white "> Holiday Inn Express & Suites Dothan </h2>
          <p class="text-light">Register New User..&nbsp
          </p>
        </div>
      </div>
    </div>
  </div>

</header>
<br/>
<div class="container">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary">Submit</button>
</form>
</div>

{% endblock %}